/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    margin:0;
    padding: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

h1::first-letter { 
    color: red;
  }
.bx-prev,
.bx-next{
    visibility: hidden;
}

.jumbotron{
    background-image: url('../../../src/assets/img/bg-landing.jpeg');
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    padding-top: 300px;
    color: white;
}

.display-4{
    color: white;
}
/* ---------------------------------------------------
    MAP STYLE
----------------------------------------------------- */
#main{
    height: 100vh;
    .container-fluid{
        padding-top: 100px;
    }
}

#marker {
    background-image: url('../../../src/assets/img/marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }

#map {
    width:100%;
    height: 600px;
 }


/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
footer{
    bottom: 0;
    text-align: center;
    padding:10px;
}