/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    margin:0;
    padding: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.row{
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MODAL STYLE
----------------------------------------------------- */
.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px;} 
.modal-dialog-slideout .modal-header {position:relative;}
.modal-dialog-slideout .modal-header .close {position:absolute;}
.modal-dialog-slideout .modal-header h5 {margin: 0 auto;}
.modal-dialog-slideout .modal-footer {display:block;}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:none;
    z-index: 998;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

h1::first-letter { 
    color: red;
  }
.bx-prev,
.bx-next{
    visibility: hidden;
}

#logscreen{
    min-height: 100vh;
    padding: 0;
    background: linear-gradient(to right, #757f9a, #d7dde8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ---------------------------------------------------
    MAP STYLE
----------------------------------------------------- */
#marker {
    background-image: url('../../../src/assets/img/marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }

#map {
    display: none;
    width:100%;
    height: 100vh;
 }



 .popupTitle{
     display: block;
     font-size: 15px;
     font-weight: 700;
     margin-bottom:2px;
 }

 .modal-title{
     text-align: center;
 }
 .popupSubtitle{
     display: block;
     font-size: 12px;
     font-weight: 300;
     color:grey;
     margin-bottom: 15px;
 }
 .popupContent{
     font-size: 14px;
     margin-bottom: 5px;
 }

 .confirmModal{
     background-color: #ecf0f1;
 }

 .mapboxgl-popup{
     z-index: 9998;
     top: 0;
     left: initial;
     width: 25%;
     height: 100vh;
     right: 0;
     transform: none !important;
 }
 @media screen and (max-width: 640px) {
    .mapboxgl-popup {
      width: 100%;
    }
  }
 .mapboxgl-popup-close-button{
     background-image: url('../../../src/assets/img/left-icon.png');
     background-size: cover;
     top: initial;
     right: initial;
 }
 .mapboxgl-popup-content{
     height: inherit;
    
 }
 
/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
footer{
    z-index: 9999;
    bottom: 0;
    text-align: center;
    padding:5px;
    display:none;
}


